<app-header [myinputMsg]="projectname"></app-header>
<div class="container">
    <div class="sidebar">
        <div class="row">
            <div class="col-md-4">
                <button class="fa fa-plus-circle plusbutton" style="font-size:18px" (click)="addproject()">&nbsp;&nbsp;Add New Project</button>
                <!-- <div class="input-group icon">
                    <input class="form-control py-2 border-right-0 border" type="search" value="search"
                        [(ngModel)]="searchText" (keyup)="searchValue($event)" placeholder="Search">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div> -->
            </div>
            <div class="col-md-6 offset-md-2">
                <div class="row">
                <div class="input-group col-md-8">
                    <input class="form-control py-2 border-right-0 border search" type="search" value="search"
                        [(ngModel)]="searchText" (keyup)="searchValue($event)" placeholder="Search">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <div class="col-md-2 copy">
                <button class="fa fa-clone" style="font-size:18px"
                     [disabled]="(project_name.length <= 0) ? 'disabled': null" (click)="copy()">&nbsp;Clone</button>
                </div>
                <div class="col-md-2">
                <button class="fa fa-trash" aria-hidden="true" style="font-size:18px"
                 [disabled]="(project_name.length <= 0) ? 'disabled': null" (click)="delete()">Delete</button>
                 </div>
                </div>
                 </div>
        </div>
        <div class="card">
            <!-- ADD PROJECT FORM -->
            <div class="container form col-md-8 offset-md-2" *ngIf="form">
                <form>
                    <h4>Add Project</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeform()">&times;</button>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="form-group">
                                    <label for="projectNames">Experiment Name</label>
                                    <input type="text" class="form-control" name="projectNames"
                                        [(ngModel)]="model.projectNames" #projectNames="ngModel"
                                         required />
                                    <div *ngIf="f.submitted && projectNames.invalid" class="invalid-feedback">
                                        <!-- <div *ngIf="projectNames.errors.required">Project Name is required</div> -->
                                    </div>
                                </div>
                                <input type="radio" id="dataset" name="data" value="dataset"
                                    (change)="changeData($event)">
                                <label for="dataset">DataSet Path</label><br>
                                <input type="radio" id="datafile" name="data" value="datafile"
                                    (change)="changeData($event)">
                                <label for="datafile">DataSet File</label><br>
                                <div class="form-group" *ngIf="datasetform">
                                    <label for="datasetinput">DataSet Path</label>
                                    <input type="text" class="form-control" name="Dataset_Path"
                                        [(ngModel)]="model.Dataset_Path" #Dataset_Path="ngModel" required />
                                    <div *ngIf="f.submitted && Dataset_Path.invalid" class="invalid-feedback">
                                        <div *ngIf="Dataset_Path.errors.required">DataSet Name Input is required
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-file mb-3" *ngIf="datapath">
                                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-bordered table-striped cus-table aa-table table1 col-md-10 offset-md-1">
                <thead class="thead-inverse">
                    <tr>
                        <th><input type="checkbox" id="vehicle2" name="checkbox" value="Car"
                                (change)="selectAll($event)"></th>
                        <th>Experiment Name</th>
                        <th>Dataset Path</th>
                        <th>Action</th>
                        <!-- <th *ngIf="routerData">Perform</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of repositorydata; let i = index">
                        <td><input type="checkbox" id="vehicle2" name="checkbox" [checked]="item.selected" value="Car"
                                (change)="toggle(item,$event)"
                                >
                        </td>
                        <td class="projectname" #viewreceiptmodal><div *ngIf="!displayAllDetails(i)" routerLink="/Deatils">{{item.project_name}}</div>
                        <div class="form-group"  *ngIf="displayAllDetails(i) && copyForm">
                            <input type="text" class="form-control" name="projectName"
                                [(ngModel)]="projectName" required
                                projectName />
                            <!-- <div *ngIf="f.submitted && projectName.invalid" class="invalid-feedback">
                                <div *ngIf="projectName.errors.required">Project Name is required</div>
                            </div> -->
                        </div></td>
                        <td>{{item.DatasetPath}}</td>
                        <td><i class="fa fa-edit accordion-toggle collapsed" id="accordion1" data-toggle="collapse"
                            data-parent="#accordion1" href="#collapseone" style="font-size:24px" (click)="editDetail(viewreceiptmodal,i,item.project_name,item.DatasetPath)" *ngIf="!displayAllDetails(i)"></i>
                            <i *ngIf="displayAllDetails(i)" class="fa fa-times aa-close" (click)="clearDisplayIndex()" title="Close all details"></i>&nbsp;
                            <button class="btn btn-primary" *ngIf="displayAllDetails(i)" (click)="update(i)">Save</button>
                            <!-- <select class="form-control selecttag" name="store"
                                (change)="selectstore($event.target.value)" required>
                                <option>Select Action</option>
                                <option *ngFor="let data of action" routerLink="/{{routerData}}">{{data.name}}
                                </option>
                            </select> -->
                        </td>
                        <!-- <td *ngIf="routerData"><button routerLink="/{{routerData}}"
                                    class="btn btn-primary">Go</button></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <!-- <app-header></app-header> -->
    </div>
</div>
<footer>
    Copyright © 2020 Affine Analytics Pvt Ltd | <a href="https://www.affineanalytics.com/" target="_blank">www.affineanalytics.com</a>
</footer>