.cardsize {
  // border:1px solid black;
  height: 70px;
}
.card{
  margin-top:10px;
  margin-bottom: 30px;
  border-radius: 12px;
  cursor:pointer;
  width: 107%;
}
.projectrepo {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.icons {
  margin-left: 65px;
}
.repo {
  margin-left: 10px;
}
.sidenav {
  font-size: 20px;
  margin-left: 10px;
}
.aboutnav {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 287px;
}
.iconssize {
  margin-top: 22px;
}
.icons {
  cursor: pointer;
  margin-bottom: 16px;
}
.search {
  margin-top: 16px;
}
.projectname{
    cursor: pointer;
}
.close{
    margin-top: -27px;
    color: red;
}
table{
    margin-top:20px;
}
.form{
    border:2px solid blue;
}
.icon{
    margin-top:20px;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: lightgray;
  }
  
  // p {
  //   margin: 10px 0;
  //   font-size: 11px;
  //   text-align: right;
  // }
  .plusbutton{
    border-radius: 11px;
    background: #6b6bbb !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: white;
    border: #6b6bbb !important;
  }
  .input-group-append{
    margin-left: -40px !important;
  }
  .search{
    margin-top: 1px;
    border-radius: 10px;
  }
  .copy{
    margin-left: -22px;
  }
  .fa-clone{
    margin-left:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 7px;
    background-color: #72d272;
        // color:white;
    border:   #72d272;
    }
.fa-trash{
    background-color: #c16969;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    margin-left: 5px;
    border-radius: 7px;
    // color:white;
    border: #c16969;
}

.label{
  margin-top:15px;
  margin-left:20px;
  font-size:14px;
  font-weight: bold;
}
.label2{
  margin-left:0px;
  font-size:14px;
  font-weight: bold;
}
.project_name{
  margin-top: -14px;
  margin-left: 20px;
  font-size: 14px;
}
.database_path{
  margin-top: -14px;
  margin-left: 0px;
  font-size: 14px;
}
.buttons{
  margin-left:20px;
  margin-top:30px;
  margin-bottom: 10px;
}
.fa-edit, .fa-save{
  background: #6b6bbb !important;
  background: #6b6bbb !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 9px;
  padding-left: 9px;
  margin-left: -20px;
  border-radius: 7px;
  border: #6b6bbb;
}
input {
  border-color: 2px solid black;
  background: transparent;
}
::placeholder {
  color: grey;
}
hr{
  margin-right:-16px;
}
.experimentbox{
  margin-top: 10px;
  width: 95%;
}
