<div class="card">
  <h3>Data preprocessing</h3>
  <div class="row">

    <form novalidate #f="ngForm" (ngSubmit)="validateAndLoadForm()" class="tab-info tab-content col-12">

      <div class="form-group">
        <div class="row">
          <label class="col-md-5"> Select a Treatment <span class="pull-right"> : </span> </label>
          <div class="col-md-6">
            <select class="form-control selecttag" name="store" (change)="changeTreatment($event.target.value)" required>
              <option value="0">Select Treatment</option>
              <option *ngFor="let t of treatments">{{t.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="col-md-5"> Sub Department(s) <span class="pull-right"> : </span> </label>
          <div class="col-md-6">
            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
