<div class="card">
    <h2>Bivariate Analysis</h2>
<div class="row">
    <div class="col-md-5 datas radio">
        <input type="radio" id="male" name="default" value="default">
        <label for="default">Default</label><br>
        <input type="radio" id="male" name="custom" value="custom">
        <label for="custom">Custom</label><br>
    </div>
    <div class="col-md-6 datas">
        <div class="row">
        <div class="col-md-6">
            <select class="form-control selecttag" name="store" required>
                <option>Select Feature</option>
              </select>
              <br>
              <select class="form-control selecttag" name="store" required>
                <option>Select Technique</option>
              </select>
        </div>
        <div class="col-md-6">
            <select class="form-control selecttag" name="store" required>
                <option>Select Feature</option>
              </select>
              <br>
              <button class="btn btn-primary col-md-12">Export</button>
        </div>
    </div>
    </div>
    </div>
    <highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
</div>
