.sidenav {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.repo {
  margin-left: 10px;
}
.aboutnav {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 287px;
}
.data,
iframe {
  min-height: 570px;
  width: 100%;
}
.ngxtab {
  cursor: pointer;
}
ngx-tabset  ul {
  list-style: none !important;
}
.card{
  margin-top:10px;
  border-radius: 24px;
}
.heading{
margin-top: 10px;
margin-left: 10px;
}


