.sidenav{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    }
    .repo{
        margin-left: 10px;
    }
    .aboutnav{
        font-size: 20px;
        margin-left: 10px; 
        margin-top: 287px;
    }