<tabset #tabset class="tabset">
  <tab heading="Dataset-Summary">
    <div class="sidebar">
      <div class="card data">
        <h4 class="heading">Data-Set</h4>
        <hr>
        <table class="table table-bordered table-striped cus-table aa-table table1">
          <thead class="thead-inverse">
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Age</th>
              <th>Education</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of projectdata">
              <td>{{item.name}}</td>
              <td>{{item.ID}}</td>
              <td>{{item.age}}</td>
              <td>{{item.education}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- </div> -->
    </div>
  </tab>

  <tab heading="Pandas-Profilling">
    <iframe src=""></iframe>
  </tab>
</tabset>