.repo{
    margin-left: 10px;
    margin-top:5px;
  }
  .sidenav{
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  .fa-check-circle{
    margin-top:5px;
  }
  .active{
    color:blue;
  }