<div class="card">
    <h4 class="repo">Project Repository</h4>
    <p class="sidenav">Upload Datasets></p>
    <p class="sidenav">Edit></p>
    <p class="sidenav">Models Repo</p>
    <h4 class="repo">Titanic</h4>
    <p class="sidenav" routerLink="/Deatils">Details></p>
    <p class="sidenav" routerLink="/EDA">EDA></p>
    <p class="sidenav" routerLink="/Data-preprocessing">Data Preprocessing></p>
    <p class="sidenav">Feature Engineering></p>
    <p class="sidenav">Predict></p>
    <p class="aboutnav">About</p>   
 </div>