<div class="mt-4">
    <!-- <h4 class="repo mt-2" routerLink="/project-repository">Project Repository</h4>
    <p class="sidenav">Upload Datasets></p>
    <p class="sidenav">Edit></p>
    <p class="sidenav">Models Repo</p> -->
    <p class="sidenav" routerLink="/project-repository"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;Project Details</p>
    <p class="sidenav" routerLink="/Deatils"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;Details</p>
    <!-- <p class="sidenav" routerLink="/Pandas-profiling">Pandas-Profiling</p> -->
    <!-- <p class="sidenav" routerLink="/Dataset-summary">Dataset-Summary</p> -->
    <p class="sidenav" routerLink="/EDA"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;EDA</p>
    <p class="sidenav" routerLink="/Data-preprocessing"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;Data Preprocessing</p>
    <p class="sidenav" routerLink="/Feature-Engineering"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;Feature Engineering</p>
    <p class="sidenav" routerLink="/Predict"><i class="fa fa-check-circle" style="font-size:20px"></i>&nbsp;&nbsp;Predict</p>
 </div>