<div class="card">
    <header>EDA</header>
    <hr>
    <form>
        <div class="row">
            <div class="col-md-4 data">
                <!-- <select class="form-control selecttag" name="store" required>
                <option>Select Feature</option>
              </select> -->
                <label for="project_name" class="experimenttype">Select Features</label>
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)" class="dropdown">
                </ng-multiselect-dropdown>
            </div>
            <br>
            <div class="col-md-4">
                <label for="project_name" class="techniquelabel">Select Technique</label>
                <select class="form-control selecttag" name="store" (change)="selectTechnique($event.target.value)"
                    required>
                    <option>Select Technique</option>
                    <option *ngFor="let tech of array">{{tech.chart}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="btn btn-primary applybutton" (click)="Submit()"><i class="fa fa-check"
                        aria-hidden="true"></i>&nbsp;Apply</div>
                <!-- <div class="btn btn-primary col-md-5">Export</div> -->
            </div>
        </div>
    </form>
    <div class="chart">
        <div class="row chart">
            <div class="col-md-12">
                <div id="container"></div>
            </div>
        </div>
    </div>
    <hr class="footerhorizon">
    <div class="row">
        <div class="offset-md-8"></div>
        <div class="col-md-2 top">
            <button class="btn btn-secondary skip"><i class="fa fa-fast-forward" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Skip</button>
        </div>
        <div class="col-md-2 top">
               <button class="btn btn-primary continue"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Continue</button>
           </div>
        </div>
        <div class="bottom"></div> 


