
<div class="container config-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <form class="example">
          <div class="form-group">
            <label class="labelname1">Enter Project Name</label>
            <input type="text" class="form-control textname" required readonly>
          </div>
          <div class="form-group group">
            <label class="labelname">Enter Model Name</label>
            <input type="text" class="form-control textname" required readonly>
          </div>
          <div class="form-group group buttonwrapper">
            <label class="labelname">{{label3}}</label>
            <input type="text" class="form-control textname" required readonly>
            <button class=" btn btn-primary go pull-right btn-sm">Upload</button>
          </div>
          <div class="form-group group" [hidden]="hideField4">
            <label class="labelname">{{label4}}</label>
            <input type="text" class="form-control textname" required readonly>
            <button class=" btn btn-primary go pull-right btn-sm">Upload</button>
          </div>
          <div class="form-group group" [hidden]="hideField5">
            <label class="labelname1">{{label5}}</label>
            <input type="text" class="form-control textname" required readonly>
          </div>
          <div class="form-group group">
            <label class="labelname">{{label6}}</label>
            <input type="text" class="form-control textname" required readonly>
          </div>
          <div class="form-group" [hidden]="hideSlider">
            <label class="labelname2">Adjust Test Statergy</label>
            <br>
            <input type="range" min="1" max="100" value="50" class="slider" id="myinput">
          </div>
          <button class="btn btn-primary col-md-12 train">{{label8}}</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="names" [hidden]="hideSlider">
          <p class="real {{customClass}}">{{labelQ1Top}}</p>
          <p class="fake {{customClass}}">{{labelQ2Top}}</p>
          <p class="secondreal {{customClass}}">{{labelQ2Right}}</p>
        </div>
        <div class="row bigbox {{customClass}}" [hidden]="hideSlider">
          <div class="boxes"></div>
          <div class="boxes"></div>
          <div class="boxes"></div>
          <div class="boxes"></div>
        </div>
        <p class="secondfake {{customClass}}" [hidden]="hideSlider">{{labelQ3Right}}</p>
        <p class="predicted" [hidden]="hideSlider">Predicted</p>
        <p class="actual" [hidden]="hideSlider">Actual</p>
        <hr class="secondhorizon" [hidden]="hideSlider">

        <form [hidden]="hideDeployForm">
          <label class="header">Deployment</label>
          <hr class="horizon">
          <div class="form-group">
            <label class="labelname2">Enter Model Name</label>
            <input type="text" class="form-control textnameend" required readonly>
          </div>
          <div class="form-group">
            <label class="labelname2">Enter Video Path</label>
            <input type="text" class="form-control textnameend" required readonly>
          </div>
          <button class="btn btn-primary col-md-12 deploy">EXTRACT INFO</button>
          <br>
          <hr class="horizon">
        </form>

        <form>
          <div class="form-group">
            <label class="labelname2">Enter End Points</label>
            <input type="text" class="form-control textnameend" required readonly>
          </div>
          <button class="btn btn-primary col-md-12 deploy">DEPLOY</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <p class="header">Project Name: Project 1</p>
        <hr class="horizon">
        <!-- <table class="table table-bordered cus-table aa-table table1" >
        <thead class="thead-inverse">
        <tr>
        <th>Model Name</th>
        <th>Model Data</th>
        <th>F1 Score</th>
      </tr>
    </thead>
    <tbody>
    <ng-template>
    <tr *ngFor="let item of imagesList">
    <td>{{item.name}}</td>
    <td>{{item.metdata}}</td>
    <td>{{item.source}}</td>
  </tr>
</ng-template>
</tbody>
</table> -->
<div class="experimentbox">
  <p class="experiment">List of Experiments</p>
</div>
<table class="table table-bordered cus-table aa-table table1" id="data">
  <thead class="thead-inverse">
    <tr>
      <th class="firstth">Model Name</th>
      <th class="secondtd">Model Data</th>
      <th class="thirdth">F1 Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of modeldata">
      <td>{{item.modelname}}</td>
      <td class="secondtd view">{{item.metdata}}</td>
      <td class="secondtd">{{get3Decimals(item.source)}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
