footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: #e9ecef;

    p {
      margin: 10px 0;
      font-size: 11px;
      text-align: right;
    }
}
