/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eff2f5;
}
.align-center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
app-deatils tabset ul li{
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: darkblue;
  color:white;
}
app-deatils tabset ul li a{
  color:white;
}
app-deatils tabset ul li:nth-child(2){
  margin-left:10px;
  border-radius: 20px;
  }
  app-deatils tabset ul li{
    border-radius: 20px;
    }
  app-deatils tabset ul{
    margin-left:10px;
  }