<nav class="navbar navbar-expand-sm bg-light  justify-content-center background">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">AUTOML</a>
      </li>
    </ul>
  </nav>
<!-- Project Repositry -->
  <section class="container-fluid">
    <div class="card cardsize">
      <div class="row">
          <div class="col-md-3 offset-md-1 projectrepo" routerLink="/project-repository">
          Projects Repository:{{myinputMsg}}
          </div>
          <div class="col-md-3 offset-md-1 projectrepo" rouetLink="/project-repository" *ngIf="datamessage">
            Data-Set-Path:{{dataMsg}}
            </div>
          <div class="col-md-4 offset-md-4 iconssize">
            <i class="fa fa-plus-circle icons" style="font-size:24px"></i>
            <i class="fa fa-search icons" style="font-size:24px"></i>
            <i class="fa fa-clone icons" style="font-size:24px"></i>
            <i class="fa fa-trash icons" aria-hidden="true" style="font-size:24px"></i></div>
        <!-- <div class="col-md-1 offset-md-8 add">ADD</div>
        <div class="col-md-1">Search</div>
        <div class="col-md-1">Duplicate</div>
        <div class="col-md-1">Delete</div> -->
        </div>            
  </div>
</section>
<button (click)="send()"></button>