<nav class="navbar navbar-expand-md navbar-light bg-light background">
  <a href="#" class="navbar-brand">
      <img src="assets/images/affine-logo.svg" class="mb-2" height="40"  width="140" alt="affine">
  </a>
<div class="text-center">
<h3 class="text-center">AUTOML</h3>
</div>
  <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <!-- <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">Profile</a>
          <a href="#" class="nav-item nav-link">Messages</a> -->
      </div>
  </div>
</nav>

<!-- Project Repositry -->
  <section class="container-fluid">
    <div class="card cardsize">
      <div class="row">
          <div class="col-md-3 offset-md-1 projectrepo" routerLink="/project-repository">
          Projects Repository:{{projectname}}
          </div>
          <div class="col-md-3 offset-md-1 projectrepo" rouetLink="/project-repository" *ngIf="datamessage">
            Data-Set-Path:{{dataMsg}}
            </div>
    
        </div>            
  </div>
</section>
