.background{
  background: white !important;
  color: blue;
  font-weight: bolder;
}
.cardsize{
  height:70px;
  background-color: blueviolet;
}
.projectrepo{
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.icons{
  margin-left: 65px;
}
.repo{
  margin-left: 10px;
}
.iconssize{
  margin-top:22px;
}

h3 {
  text-align: center !important;
  position: relative;
  left : 506px;
  font-weight: bolder;
}

@media (max-width:767px) {
  h3 {
    text-align: center !important;
    position: relative;
    left : 0px;
  }
 }
