.background{
  background: blue !important;
  color:white;
}
.cardsize{
  // border:1px solid black;
  height:70px;
}
.projectrepo{
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.icons{
  margin-left: 65px;
}
.repo{
  margin-left: 10px;
}
.iconssize{
  margin-top:22px;
}