.background{
  background: #4646ad !important;
  color: white;
  font-weight: bolder;
}
.cardsize{
}
.projectrepo{
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.icons{
  margin-left: 65px;
}
.repo{
  margin-left: 10px;
}
.iconssize{
  margin-top:22px;
}

h4 {
  margin-top: 2px;
  font-weight: bolder;
}
.login{
  text-align: center;
}

@media (max-width:767px) {
  // h3 {
  //   left : 0px;
  // }
 }
