<nav class="navbar navbar-expand-md navbar-light bg-light background">
  <a href="#" class="navbar-brand">
      <img src="assets/images/affine-logo.svg" class="mb-2" height="40"  width="140" alt="affine">
  </a>
<div>
<h4 class="login">AutoML</h4>
</div>
  <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <!-- <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">Profile</a>
          <a href="#" class="nav-item nav-link">Messages</a> -->
      </div>
  </div>
</nav>

<!-- Project Repositry -->
  <section class="container">
      <div class="row">
          <div class="col-md-6 projectrepo" routerLink="/project-repository">
          Experiment:{{myinputMsg}}
          </div>
          <div class="col-md-3 offset-md-1 projectrepo" rouetLink="/project-repository" *ngIf="datamessage">
            Data-Set-Path:{{dataMsg}}
            </div>
        </div>  
        <hr>          
</section>
<!-- <breadcrumb #parent>  
  <ol class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <li class="breadcrumb-item">
        <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
    </ng-template>
  </ol>
</breadcrumb>  -->
